<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dreamroute.pager.starter.sample.mapper.UserMapper">
    <select id="selectFromOneTable" resultType="com.github.dreamroute.pager.starter.sample.entity.User">
        select * from smart_user where name = #{name} order by id asc, name desc
    </select>

    <select id="selectFromTwoTables" resultMap="twoTablesResultMap">
        select u.*, a.id aid, a.name aname, a.user_id from smart_user u left join smart_addr a on u.id = a.user_id where u.name = #{name} and a.user_id = #{userId} order by u.id desc
    </select>
    <resultMap id="twoTablesResultMap" type="com.github.dreamroute.pager.starter.sample.dto.SelectFromTwoTablesResp">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <collection property="addrs" ofType="com.github.dreamroute.pager.starter.sample.entity.Addr">
            <id column="aid" property="id"/>
            <result column="aname" property="name"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>

    <select id="selectFromThreeTables" resultMap="threeTablesResultMap">
        select u.*, a.id aid, a.name aname, a.user_id, c.id cid, c.name cname, c.addr_id from smart_user u left join smart_addr a on u.id = a.user_id left join smart_city c on a.id = c.addr_id
        where u.name = #{name} and a.user_id = #{userId} and c.name = #{cityName} order by u.id desc
    </select>
    <resultMap id="threeTablesResultMap" type="com.github.dreamroute.pager.starter.sample.dto.SelectFromThreeTablesResp">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <collection property="addrs" ofType="com.github.dreamroute.pager.starter.sample.entity.Addr">
            <id column="aid" property="id"/>
            <result column="aname" property="name"/>
            <result column="user_id" property="userId"/>
            <collection property="cities" ofType="com.github.dreamroute.pager.starter.sample.entity.City">
                <id column="cid" property="id"/>
                <result column="cname" property="name"/>
                <result column="addr_id" property="addrId"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectUseInCondition" parameterType="com.github.dreamroute.pager.starter.sample.dto.SelectUseInCondition" resultType="com.github.dreamroute.pager.starter.sample.entity.User">
        select * from smart_user where name in
        <foreach collection="names" index="index" open="(" close=")" separator=",">
            #{names[${index}]}
        </foreach>
    </select>

    <select id="listUsers" >
        select * from user
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%' )
            </if>
        </where>
    </select>

    <select id="withNotOrderBy" resultMap="twoTablesResultMap">
        select u.*, a.id aid, a.name aname, a.user_id from smart_user u left join smart_addr a on u.id = a.user_id where u.name = #{name} and a.user_id = #{userId}
    </select>

    <select id="withNoCondition" resultMap="twoTablesResultMap">
        select u.*, a.id aid, a.name aname, a.user_id from smart_user u left join smart_addr a on u.id = a.user_id
    </select>

    <select id="withNoConditionSingleTable" resultType="com.github.dreamroute.pager.starter.sample.entity.User">
        select * from smart_user
    </select>

    <select id="withParamAnno" resultType="com.github.dreamroute.pager.starter.sample.entity.User">
        select * from smart_user where id = #{req.id}
    </select>
    
    <select id="multiParams" resultType="com.github.dreamroute.pager.starter.sample.entity.User">
        select * from smart_user t where t.id = #{req.id} and t.name = #{req.name}
    </select>
</mapper>